@import "./typeface.css";
@import "./sidebar.css";

$purple: #553080;

.react-tabs__tab{
    @apply .mr-4;

    &:hover {
        @apply .text-purple .underline .font-bold .cursor-pointer;
    }
}

.react-tabs__tab--selected {
    @apply .text-purple .underline .font-bold;
}

.bm-morph-shape {
  fill: $purple;
}

body {
    font-family: "Gilroy";
    @apply .text-xl;
}

.h1 {
    font-family: "Gilroy";
    @apply .text-2xl .text-purple .mb-4 .font-bold;
}

@responsive {
    .display-none {
        display: none;
    }
}

@tailwind preflight;
@tailwind utilities;