@import "./typeface.css";
@import "./sidebar.css";

$screensm: 576px;
$screenmd: 768px;
$screenlg: 992px;
$screenxl: 1200px;

$purple: #553080;

.react-tabs__tab{
    @apply .mr-4;

    &:hover {
        @apply .text-purple .underline .font-bold .cursor-pointer;
    }
}

.react-tabs__tab--selected {
    @apply .text-purple .underline .font-bold;
}

.bm-morph-shape {
  fill: $purple;
}

body {
    font-family: "Gilroy";
    @apply .text-xl;

    @media (min-width: $screenmd){
        @apply .text-3xl;
    }
}

.h1 {
    font-family: "Gilroy";
    @apply .text-2xl .text-purple .mb-4 .font-bold;

    @media (min-width: $screenmd){
        @apply .text-4xl;
    }
}

@responsive {
    .display-none {
        display: none;
    }
}

@tailwind preflight;
@tailwind utilities;