@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: local("☺"), url("../fonts/Gilroy-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    src: local("☺"), url("../fonts/Gilroy-Medium.otf") format("opentype");
}