@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: local("☺"), url("../fonts/Gilroy-Regular.otf.generated.woff2");
}

@font-face {
    font-family: "Gilroy";
    font-weight: bold;
    src: local("☺"), url("../fonts/Gilroy-Bold.otf.generated.woff2");
}